.swiper-slide {
    width: auto;
}

.swiper-container {
    z-index: 0;
    position: relative;
}

.swiper-button-next {
    position: absolute;
    right: 10px !important;
}

.swiper-button-prev {
    position: absolute;
    left: 10px !important;
}


